html {
    scroll-behavior: smooth;
}

.home {    
    width: 100%;
    height: 100vh;
}

.position {
    left: 8%;
}

.position-2 {
    right: 18%;
    top: 18%;
}

.w-2 {
    width: 1.5rem;
}

.h-2 {
    height: 1.5rem;
}

.w-3 {
    width: 2rem;
}

.h-3 {
    height: 2rem;
}

.w-64 {
    width: 15rem;
}

.w-104 {
    width: 26rem;
}

.w-120 {
    width: 30rem;
}

.text-sm {
	font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-smbase {
	font-size: 0.9rem;
    line-height: 1.25rem;
}

.text-base {
	font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
	font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
	font-size: 1.5rem;
    line-height: 2rem;
}

.text-2-3xl {
	font-size: 1.75rem;
    line-height: 2rem;
}

.text-3xl {
	font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
	font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
	font-size: 3rem;
    line-height: 1;
}

.tracking-wide {
    letter-spacing: 0.025em;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.leading-snug {
    line-height: 1.375;
}

.leading-normal {
    line-height: 1.5;
}

.z-0 {
    z-index: 0;
}

.z-30 {
    z-index: 30;
}

.cursor-pointer {
    cursor: pointer;
}

.h-73 {
    height: 73% !important;
}

.res-text-sm {
    font-size: 0.75rem;
    line-height: 1rem;
}

.res-text-base {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.res-text-lg {
    font-size: 1rem;
    line-height: 1.5rem;
}

.res-text-xl {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.res-text-2-3xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.logo-home {
    width: 14rem;
}

.desc-home {
    font-size: 1.5rem;
    line-height: 2rem;
}

.left-section-home {
    width: 24rem;
}

.right-section-home {
    width: 26rem;
}

.position-2 {
    right: 8%;
    top: 16%;
}

.user-input {
    width: 100%;
    color: #333333;
    border: none;
    border-bottom: 1.5px solid #333333;
    outline: none;
    background: transparent;
    font-size: 1rem;
    line-height: 1.5rem;
}

.title-user-input {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.h-800 {
    height: 100%;
}

@media (min-width: 1280px) and (max-width: 1439px) and (max-height: 750px) {
    .home {    
        width: 100%;
        height: 120vh;
    }
  }

@media (min-width: 1440px) and (max-height: 800px) {
    .home {    
        width: 100%;
        height: 120vh !important;
    }

    .position-2 {
        top: 20% !important;
    }
  }

@media (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: unset;
    }
}

@media (min-width: 992px) {
    .desktop-view {
        display: unset;
    }

    .mobile-view {
        display: none;
    }
}

@media (min-width: 1280px) and (max-width: 1439px){
    .logo-home {
        width: 14rem;
    }

    .desc-home {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .left-section-home {
        width: 24rem;
    }

    .right-section-home {
        width: 26rem;
    }

    .position-2 {
        right: 10%;
        top: 16%;
    }

    .res-py-3 {
        padding-top: .5rem!important;
        padding-bottom: .5rem!important;
    }

    .res-my-3 {
        padding-top: .5rem!important;
        padding-bottom: .5rem!important;
    }

    .res-text-sm {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .res-text-base {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .res-text-lg {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .res-text-xl {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .res-text-2-3xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .res-text-5xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .user-input {
        width: 100%;
        color: #333333;
        border: none;
        border-bottom: 1.5px solid #333333;
        outline: none;
        background: transparent;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .title-user-input {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 1440px) and (max-width: 1659px){
    .container-custom {
        max-width: 1280px !important;
    }

    .container-custom-2 {
        max-width: 1320px !important;
    }

    .logo-home {
        width: 14rem;
    }

    .desc-home {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .left-section-home {
        width: 24rem;
    }

    .right-section-home {
        width: 30rem;
    }

    .position-2 {
        right: 9%;
        top: 16%;
    }

    .user-input {
        width: 100%;
        color: #333333;
        border: none;
        border-bottom: 1.5px solid #333333;
        outline: none;
        background: transparent;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .title-user-input {
        font-size: 0.9rem;
        line-height: 1.25rem;
    }

    .res-py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .res-my-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .res-text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .res-text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .res-text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .res-text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .res-text-2-3xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .res-text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
}

@media (min-width: 1660px){
    .container-custom {
        max-width: 1440px !important;
    }

    .container-custom-2 {
        max-width: 1480px !important;
    }

    .logo-home {
        width: 18rem;
    }

    .desc-home {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .left-section-home {
        width: 30rem;
    }

    .right-section-home {
        width: 30rem;
    }

    .user-input {
        width: 100%;
        color: #333333;
        border: none;
        border-bottom: 1.5px solid #333333;
        outline: none;
        background: transparent;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .title-user-input {
        font-size: 0.9rem;
        line-height: 1.25rem;
    }

    .res-py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .res-my-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .res-text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .res-text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .res-text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .res-text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .res-text-2-3xl {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    
    .res-text-5xl {
        font-size: 3rem;
        line-height: 1;
    }

    .position-2 {
        right: 15%;
        top: 18%;
    }
}

.left-pos {
    position: absolute;
    left: 30%;
    bottom: 10%;
}

.right-pos {
    position: absolute;
    right: 30%;
    bottom: 10%;
}

.res-right-pos {
    position: absolute;
    right: -4%;
    bottom: -15%;
}

.res-left-pos {
    position: absolute;
    left: -4%;
    bottom: -15%;
}

.arrow-pos {
    right: 0%;
    top: 15%;
    box-shadow: none !important;
}

.bg-custom-1 {
    background-color: #eff4f6;
}

.bg-custom-2 {
    background-color:  #999999;
}

.text-custom-1 {
    color: #eff4f6;
}

.text-custom-2 {
    color: #999999;
}

.text-custom-3 {
    color: #333333;
}

.text-custom-4 {
    color: #43a5dc;
}

.text-custom-4:hover {
    color: #378dbf;
}

.text-custom-5 {
    color: #333333;
}

.text-custom-5:hover {
    color: #378dbf;
}

.accordion-header {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border-bottom: none !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
